@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @model Product
    <h1><a href="/">Products</a>|<a href="/categories">Categories</a></h1>

    <h3>New Product</h3>
    <form action="/processnewproduct" method="post">
    <p>Product Name: <input asp-for="Name"></p>
    <p><span asp-validation-for="Name"></span></p>
    
    <p>Product Description: <textarea asp-for="Description"></textarea></p>
    <p><span asp-validation-for="Description"></span></p>

    <p>Product Price: <input asp-for="Price"></p>
    <p><span asp-validation-for="Price"></span></p>

    <input type="Submit" value="Create Product">

    </form>

    <h3>Existing Products</h3>

    @foreach (Product p in @ViewBag.AllProducts)
    {
        <p><a href="/products/@p.ProductId">@p.Name</a></p>
    }

</div>
